# Local state and data
.aini-state/
consul/data/
.s3cfg

# Environment files
.env
.env*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ansible
.vault_pass
ansible/galaxy/*

# Galaxy
.galaxy
