---
services:
  nocodb:
    image: nocodb/nocodb:0.260.4
    container_name: nocodb
    restart: unless-stopped
    depends_on:
      - nocodb-redis
    expose:
      - "8080"
    environment:
      NC_DB_TYPE: "pg"
      NC_DB_HOST: "{{ nocodb_db_host }}"
      NC_DB_PORT: "{{ nocodb_db_port }}"
      NC_DB_USER: "{{ nocodb_db_user }}"
      NC_DB_PASSWORD: "{{ nocodb_db_password | urlencode }}"
      NC_DB_NAME: "{{ nocodb_db_name }}"
      NC_DB_SCHEMA: "public"
      NC_DB_SSL: "true"
      NC_DB_SSL_REJECT_UNAUTHORIZED: "0"
      NC_PG_SSL_MODE: "require"
      NC_PUBLIC_URL: "{{ nocodb_settings.nc_public_url }}"
      NC_AUTH_JWT_SECRET: "{{ nocodb_settings.nc_auth_jwt_secret }}"
      NC_AUTH_JWT_VERSION: "1"
      NC_AUTH_JWT_REFRESH_SECRET: "{{ nocodb_settings.nc_auth_jwt_secret }}"
      NC_WORKER_COUNT: "{{ nocodb_settings.nc_worker_count }}"
      NC_CACHE_STORE: "{{ nocodb_settings.nc_cache_store }}"
      NC_REDIS_URL: "{{ nocodb_settings.nc_redis_url }}"
      NC_CONNECTION_TIMEOUT: "60000"
      NC_POOL_TIMEOUT: "60000"
      PORT: 8080
      NC_AUTOMATION_LOG_LEVEL: "debug"
      NC_DISABLE_TELE: "true"
      NC_DB_LOG_LEVEL: "debug"
      NC_LOG_LEVEL: "debug"
      NC_AUTH_LOG_LEVEL: "debug"
      NC_JWT_EXPIRES_IN: "10y"
      NC_DISABLE_ERR_STACK: "false"
    volumes:
      - {{ nocodb_data_path }}:/usr/app/data
    deploy:
      resources:
        limits:
          memory: {{ nocodb_resources.memory }}
          cpus: '{{ nocodb_resources.cpu_count }}'
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nocodb.rule=Host(`{{ nocodb_domain }}`)"
      - "traefik.http.routers.nocodb.entrypoints=websecure"
      - "traefik.http.routers.nocodb.tls.certresolver=letsencrypt"
      - "traefik.http.services.nocodb.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.nocodb-headers.headers.customResponseHeaders.X-Robots-Tag=noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex"
      - "traefik.http.routers.nocodb.middlewares=nocodb-headers"

  nocodb-redis:
    image: redis:{{ nocodb_redis.version }}
    container_name: nocodb-redis
    restart: unless-stopped
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - {{ nocodb_redis_data }}:/data
    deploy:
      resources:
        limits:
          memory: "{{ nocodb_redis.memory | regex_replace('([0-9]+)([A-Za-z]+)', '\\1\\2') }}"
    networks:
      - traefik_network

networks:
  traefik_network:
    external: true
    name: traefik-public